<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.derekyu.fridgegrabber" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Controller.ViewRecipe"
            android:label="@string/title_activity_view_recipe" >
        </activity>
        <activity
            android:name=".Controller.FavoriteRecipeListActivity"
            android:label="@string/title_activity_favorite_recipe_list" >
        </activity>
        <activity
            android:name=".Controller.ViewIngredientsActivity"
            android:label="@string/title_activity_view_ingredients" >
        </activity>
        <activity
            android:name=".Controller.ModifyIngredientsActivity"
            android:label="@string/title_activity_modify_ingredients" >
        </activity>
        <activity
            android:name=".Controller.RecipeDetails"
            android:label="@string/title_activity_recipe_details" >
        </activity>
        <activity
            android:name=".Controller.MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
